<div id="current_submission" class="code col-md-6">
  <div class="theiaStickySidebar">
    <% submission.solution.each_with_index do |(filename, code), idx| %>
    <div class="btn-toolbar submission-code-header">
      <div class="submission-code-filename">
        <h4><%= filename %></h4>
      </div>
    <div class="submission-code-actions btn-group pull-right">
      <a
        class="btn btn-default btn-show-diff hidden"
        data-target="#submission-code-<%= idx %>">
        <svg aria-hidden="true" class="octicon octicon-diff" height="16" version="1.1" viewBox="0 0 13 16" width="13"><path fill-rule="evenodd" d="M6 7h2v1H6v2H5V8H3V7h2V5h1v2zm-3 6h5v-1H3v1zM7.5 2L11 5.5V15c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h6.5zM10 6L7 3H1v12h9V6zM8.5 0H3v1h5l4 4v8h1V4.5L8.5 0z"></path></svg>
      </a>
      <a
        class="btn btn-default hidden-xs"
        data-action="enlarge"
        data-new-class="col-md-12"
        data-old-class="col-md-6">
        <i class="fa fa-expand"></i>
      </a>
      <a
        style="display: none;"
        class="btn btn-default"
        data-action="shrink"
        data-new-class="col-md-6"
        data-old-class="col-md-12">
        <i class="fa fa-compress"></i>
      </a>
      <a
        class="btn btn-default copy-code"
        href="#"
        data-target="#submission-code-<%= idx %>">
        <i class="fa fa-clipboard"></i>
      </a>
    </div>

    <div class="clearfix"></div>
    </div>

    <div class="preview-swap hidden" data-index="<%= idx %>"></div>
    <div id="file-<%= idx %>">
      <%= syntax(code, submission.track_id) %>
    </div>

      <div id="submission-code-<%= idx %>" class="hidden" ng-non-bindable><%= h code %></div>
    <% end %>

    <div class="submission-likes">
      <%= like_submission_button(submission, current_user) %>
      <% if submission.liked? %>
        <p><%= these_people_like_it(submission.liked_by) %></p>
      <% end %>
    </div>
  </div>
</div>
